BusLink.WindowsPhone8/obj/
BusLink.WindowsPhone8/Bin/
BusLink/BusLink.Droid/obj/
BusLink/BusLink.Droid/bin/
BusLink/BusLink.iOS/obj/
BusLink/BusLink/bin/
BusLink/BusLink/obj/
packages/
BusLink/BusLink.iOS/bin/
Components/
BusLink.Common/obj/
BusLink.Common/bin/
BusLink.DroidWear/bin/
BusLink.DroidWear/obj/
BusLink.Forms.Wear/bin/
BusLink.Forms.Wear/obj/
BusLink/BusLink.Droid/BusLink.Forms.Droid.csproj.bak
BusLink/BusLink.Droid/BusLink.Forms.Droid.csproj.user
BusLink.Forms.Wear/BusLink.Forms.Wear.csproj.user
BusLink/BusLink.iOS/BusLink.Forms.iOS.csproj.user
.vs/BusLink/v15/.suo
.vs/
BusLink/BusLink.Droid/Resources/Resource.Designer.cs
MyStop.Common/bin/
MyStop.Common/obj/
MyStop/MyStop.Droid/bin/
MyStop/MyStop.Droid/obj/
MyStop/MyStop/bin/
MyStop/MyStop/obj/
MyStop/MyStop.iOS/obj/
MyStop/MyStop.Droid/MyStop.Forms.Android.csproj.user
MyStop/MyStop.Droid/Resources/Resource.Designer.cs
MyStop.Droid/bin/
MyStop.Droid/obj/
MyStop/obj/
MyStop/bin/
MyStop.iOS/bin/
MyStop.iOS/obj/
MyStop.Droid/MyStop.Forms.Android.csproj.user
MyStop.Droid/Resources/Resource.Designer.cs
MyStop.iOS/MyStop.Forms.iOS.csproj.user
