<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.beetrootsoftware.mystop" android:versionName="1.9" android:versionCode="41" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="29" android:targetSdkVersion="33" />
	<application android:label="MyStop" android:icon="@mipmap/icon_launcher">
		<!--<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />-->
	</application>
</manifest>